.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;
  width: 100%;
}

.label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-transform: capitalize;

  align-self: baseline;

  color: #fbfbfb;
}

.helper {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: capitalize;

  color: #fbfbfb;
}

.input-Default {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;

  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;

  border: none;
  border-bottom: 2px solid;
  border-image: linear-gradient(
      to right,
      #ecdcf5,
      #ae9ef4,
      #61b0bc,
      #a2d4c983,
      #d6d7e800
    )
    1;
  border-radius: 0px;
  background: none;
  outline: none;
}

.input-Error {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;

  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  border-radius: 0px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #d01414;
}

.input-Validate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px;

  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  border-radius: 0px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #3fb500;
}

.input-Default:focus {
  border-bottom: 2px solid #3c62c2;
}

.Select .input,
.Search .input-Default {
  width: 301px !important;
}

.Multiline textarea {
  height: 250px;
  align-items: flex-start !important;
}
.input-D.input-Default .Error {
  color: #d01414;
}
.Validate {
  color: #3fb500;
}
