.button {
  background: none;
    color: white;
    border-radius: 8px;
    border: none;
    font-family: "inter";
    transition: 0.2s ease-in-out;
    position: relative;
    min-width: max-content;
    overflow: hidden; /* Ajouter ceci */
  }

  .button-link{
    color: white;
    font-family: "inter";
    padding: 0 !important;
    text-decoration: none;
    font-weight: 500;
    width: max-content;
  }
  
  .button::before {
    content: "";
    position: absolute;
    inset: 0px; /* Ajuster ceci pour la taille de la bordure */
    border-radius: 8px;
    border: 2px solid transparent;
    background: linear-gradient(
      110deg,
      #ecdcf5,
      #ae9ef4,
      #61b0bc,
      #a2d4c983,
      #d6d7e800
    ) border-box;
    z-index: -1;
  border-radius: 8px;
  mask: linear-gradient(#ffffff 0 0) padding-box, 
                linear-gradient(#ffffff 0 0);
  mask-composite: destination-out;
  }
  .button::after{
    content: "";
    position: absolute;
    inset: 0;
    
    border-radius: 8px;
    z-index: -3;
  }
  
  .button:hover {
    background-color: #ffffff15;
  }
  .button:active {
    background-color: #ffffff36;
  }
  
  .XL {
    font-size: 18px;
    padding: 16px 28px;
  }
  
  .XS {
    font-size: 16px;
    padding: 10px 18px;
  }
  
.LinkXL {
  font-size: 18px;
  border: none;
  padding: 16px 28px;
}

.Error{
  font-size: 14px;
  font-weight: 600;
  color: #ff2424;
}
.LinkXL::before{
    display: none;
}
.LinkXL::after{
    display: none;
}

.LinkXS {
  font-size: 16px;
  border: none;
  padding: 10px 18px;
}
.LinkXS::before{
    display: none;
}
.LinkXS::after{
    display: none;
}