.tagcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: min-content;
  position: relative;
  font-size: 14px;
  font-family: "inter";
  font-weight: 500;
  color: white;
  padding: 0px 10px;
  min-width: 10px;
  min-height: 17px;
}
.tagcontainer::before{
  content: "";
  top: -2px;
  left: -2px;
  right: 0;
  bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 18px;
    border: 2px solid transparent;
    background: linear-gradient(
      110deg,
      #ecdcf5,
      #ae9ef4,
      #61b0bc,
      #a2d4c983,
      #d6d7e800
    ) border-box;
    z-index: -1;
  -webkit-mask: linear-gradient(#ffffff 0 0) padding-box, 
                linear-gradient(#ffffff 0 0);
  -webkit-mask-composite: destination-out;
}
