.tagcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: min-content;
  border-radius: 18px;
  padding: 2px 10px;
  border-radius: 16px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      to right,
      #ecdcf5,
      #ae9ef4,
      #61b0bc,
      #a2d4c9,
      #d6d7e8
    )
    1;
}
