.projectCard{
    width: 384px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 10px;
    transition: .2s ease-in-out;
}
.projectCard:hover{
    cursor: pointer;
    background-color: #ffffff15;
}

.projectCard__content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.headinfAndText{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.projectCard__footer{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    width: max-content;
    padding: 8px 16px;
    border-radius: 8px;
}
.projectCard__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.userInfo{
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: start;
}
.projectCard__footer:hover{
    cursor: pointer;
    background-color: #ffffff15;
}