.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 80px;
}
.logoNavbar{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navList{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.accountAction{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 22px;
}